@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
@font-face {
    font-family: Err0r;
    src: url("./assets/Err0r-14mg.otf");
}

html {
    background-color: #212121;
}

a {
    color: #1ec480;
}

a:visited {
    color: #168f5c;
}